HOME<br>
Product:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/product/create">Create</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/product/retrieve">Retrieve</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/product/update">Update</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/product/delete">Delete</a><br>
Product - Retrieve<br>
<form method="GET">
    ค้นหาสินค้า: <input type="text" name="q" value="{{ query }}">
    <input type="submit" value="ค้นหา">
</form>
{% if products %}
    ผลการค้นหา:<br>
    {% for prod in products %}
        {{ prod.brand }}&nbsp;&nbsp;{{ prod.name }}&nbsp;&nbsp;{{ prod.price }}&nbsp;&nbsp;{{ prod.year }}<br>
    {% endfor %}
{% elif query %}
    ไม่พบสินค้าที่ตรงกับคำค้นหา<br>
{% endif %}
footer
